{% extends "base.html" %}
{% load likes_options %}

{% block content %}
	<h3 class="mt-1 mb-3">
		{% if order == 'new' %}
			<strong class="me-2">New questions</strong>
		{% else %}
			<a href="{% url 'qa:index' %}" class="me-2"><small>New questions</small></a>
		{% endif %}
		{% if order == 'popular' %}
			<strong>Hot questions</strong>
		{% else %}
			<a href="{% url 'qa:popular' %}"><small>Hot questions</small></a>
		{% endif %}
	</h3>
	{% if tag_filter %}
	  <h4 class=" text-muted mb-3"><strong>Filtered by 
		<span class="badge rounded-pill bg-primary text-dark bg-opacity-25 px-3 ms-1">
		  {{ tag_filter }}</span></strong>
		<a href="{% url 'qa:index' %}"><sup class="closing_cross">
			<span class="badge rounded-pill bg-secondary bg-opacity-75">x</span>
			</sup></a>
	  </h4>
	{% endif %}
  {% for question in questions %}
	<div class="card">
      <div class="card-body">
        <h4 class="card-title mb-3 mt-1">
          <a href="{% url 'qa:question' question.id %}" class="card-link">{{ question }}</a>
        </h4>
        <p class="card-text question_text">{{ question.text|truncatewords:50 }}</p>
        <div class="d-inline-flex align-items-center">
          {% q_like_button question user.id request.get_full_path %}
          <div class="card-text text-muted ms-4">Answers: {{ question.answer_set.count }}</div>
        </div>
        {% if question.tags.all %}
		  <div class="card-text text-muted mt-2">Tags: 
		    {% for tag in question.tags.all %}
		      <span class="popular_tag badge rounded-pill bg-primary bg-opacity-25 px-3 m-1">
		        <a href="{% url 'qa:tagged' tag.slug %}">{{ tag.name }} </a>
		      </span>
		    {% endfor %}
		  </div>
		{% endif %}  
		
      </div>
      <div class="card-footer text-muted d-inline-flex">
      	{% if question.author.profile.avatar %}
          <div class="avatar-footer" 
            style="background-image: url('{{ question.author.profile.avatar.url }}');">
          </div>
        {% endif %}
      	<div class="me-auto">
      	  by {{ question.author }}
      	</div>
      	<div>
      	  {{ question.added_at|time:"H:i" }} {{ question.added_at|date:"d.m.Y" }}
      	</div>
      </div>
    </div>
  {% endfor %}

  <nav aria-label="Page navigation example">
  	{% if paginator.num_pages > 1 %}
  	  <ul class="pagination">
	    {% for p in paginator.page_range %}
	    	{% if p == page.number %}
	    		<li class='page-item active'>
	    	{% else %}
	    		<li class='page-item'>
	    	{% endif %}
	    		<a class='page-link' href="{{ paginator.baseurl }}{{ p }}">{{ p }}</a>
	    	</li>
	    {% endfor %}
	  </ul>
	{% endif %}
  </nav>

{% endblock content %}