{% load bootstrap5 %}
{% load qa_tags %}
{% load static %}

<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Q&A</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'qa/css/base_style.css' %}">

</head>
<body>
  <nav class="navbar navbar-dark navbar-expand-sm bg-primary">
    <div class="container-xxl">
      <a class="navbar-brand" href="{% url 'qa:index' %}">Q&A</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
      data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{% url 'qa:index' %}">Questions</a>
          <a class="nav-link" href="{% url 'qa:ask' %}">Ask!</a>
          {% if user.is_authenticated %}
            <span class="navbar-text">Hello, <b>{{ user.username }}</b></span>
            <a class="nav-link" href="{% url 'users:show_profile' %}">Settings</a>
            <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
          {% else %}
            <a class="nav-link" href="{% url 'users:login' %}">Log in</a>
            <a class="nav-link" href="{% url 'users:signup' %}">Register</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

<!--
	<div><p>
		<a href="{% url 'qa:index' %}">Q&A</a> | 
		<a href="{% url 'qa:ask' %}">Ask!</a> | 
		{% if user.is_authenticated %}
			<span>{{ user.username }}</span> | 
			<a href="{% url 'users:show_profile' %}">Settings</a> | 
			<a href="{% url 'users:logout' %}">Log out</a>
		{% else %}
			<a href="{% url 'users:login' %}">Log in</a> | 
			<a href="{% url 'users:signup' %}">Register</a>
		{% endif %}
	</p></div>
	<hr>
-->
  <div class="container-xxl">
  	<div class="row">
  	  <div class="col-xs-12 col-md-8">
  	  	{% block content %}{% endblock content %}
  	  </div>
  	  <div class="col-xs-12 col-md-4">
  	  	{% show_popular_tags %}
  	  </div>
  	</div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>